body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: purple;
}

#canvas1 {
  border: 3px solid #c8a2c8;
  top: 50%;
  left: 50%;
  position: absolute;
  width: 415;
  height: 508;
  transform: translate(-50%, -50%);
}
